[Unit]
Description=nmbd
After=network.target remote-fs.target nss-lookup.target
[Service]
Type=forking
LimitNOFILE=16384
ExecStart=/usr/local/samba/sbin/nmbd -D
ExecReload=/usr/bin/kill -HUP
[Install]
WantedBy=multi-user.target